# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/

# Local environment files
.env
.env.* 
!.env.example

# System files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lock files (if you never want to commit them)
pnpm-lock.yaml
yarn.lock
package-lock.json
bun.lockb
